<button type="button" class="btn btn-sm btn-success" [routerLink]="['/crudPageCrate']">
    <i class="fas fa-plus"></i> Create New
</button>
<br />
<br />

<form #searchModelForm="ngForm" (ngSubmit)="onSearchCriteriaSubmit(searchModelForm)">
    <div class="card border-info mb-3">
        <div class="card-header">
            <div class="card-title">Search</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="tradeId"> Trade
                        </label>
                        <div class="col-md-8">
                            <ngx-select [allowClear]="true" [items]="tradeList"
                                placeholder="No trade selected" id="tradeId" name="tradeId"
                                #tradeId="ngModel" ngModel>
                            </ngx-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label col-md-4" for="levelId"> Level
                        </label>
                        <div class="col-md-8">
                            <ngx-select [allowClear]="true" [items]="levelList"
                                placeholder="No level selected" id="levelId" name="levelId"
                                #levelId="ngModel" ngModel>
                            </ngx-select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-sm btn-info m-1">
                        Search
                    </button>
                    <button type="button" class="btn btn-sm btn-danger m-1" (click)="searchCancel()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>

<div class="card">
    <div class="card-header">
    </div>

    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-light">
                    <tr class="border-0">
                        <th>Actions</th>
                        <th>Syllabus</th>
                        <th>Trade</th>
                        <th>Level</th>
                        <th>Uploaded Syllabus</th>
                        <th>Uploaded Test Plane</th>
                        <th>Languages</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of testModelList | paginate: { itemsPerPage: testModelService.dataTable.itemsPerPage, currentPage: testModelService.p, totalItems: testModelService.total }; let i=index">
                        <td>
                            <button type="button" class="btn m-1 btn-sm btn-primary"
                                (click)="onEdit(item.id)">Edit
                            </button>
                            <button type="button" class="btn m-1 btn-sm btn-danger"
                                (click)="onDelete(item.id)">Delete
                            </button>
                        </td>
                        <td>{{item.syllabusName}}</td>
                        <td>{{item.trade.name}}</td>
                        <td>{{item.level.name}}</td>
                        <td>
                            <a [href]="createPath(item.syllabusFile)" download>Download Syllabus File</a>
                        </td>
                        <td>
                            <a [href]="createPath(item.testPlaneFile)" download>Download Test Plane File</a>
                        </td>
                        <td><span *ngFor="let testdetail of item.testModelDetail">{{testdetail.language.name}} </span> </td>
                        <td><span class="label label-danger">InActive</span></td>
                    </tr>
                    <tr *ngIf="!testModelList" class="text-center">
                        <td colspan="8">
                            <h3>Loading data...</h3>
                        </td>
                    </tr>
                    <tr *ngIf="testModelList && testModelList.length==0" class="text-center">
                        <td colspan="8">
                            <h3>There is no data</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-md-10">
            <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
        </div>
        <div class="col-md-2">
            <select *ngIf="testModelList && testModelList.length>0" class="form-control" id="itemsPerPage"
                name="itemsPerPage" [(ngModel)]="testModelService.dataTable.itemsPerPage"
                (change)="changelistTotal($event)">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>
    </div>
</div>