<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">S3 Innovate Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/']">Crud Page</a>
        <a class="nav-item nav-link" [routerLink]="['/trades']">Trade</a>
        <a class="nav-item nav-link" [routerLink]="['/levels']">Level</a>
        <a class="nav-item nav-link" [routerLink]="['/languages']">Language</a>
      </div>
    </div>
  </nav>
  <br>
  <br>

  <router-outlet></router-outlet>
</div>