<div class="modal-header">
  <h4 class="modal-title pull-left"> {{ title }} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h4>Are you sure you want to delete this item?</h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-space btn-sm btn-primary" (click)="modalRef.hide()">Cancel </button>
  <button type="button" class="btn btn-space btn-sm btn-danger" (click)="onDelete()">Confirm </button>

</div>