<form (ngSubmit)="onSubmit(form)" #form="ngForm">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="tradeId" class="control-label col-md-3"> Trade</label>
                <div class="col-md-9">
                    <select id="tradeId" #tradeId="ngModel" name="tradeId" [(ngModel)]="InitialTradeId"
                        class="form-control" required (change)="getLevelByTradeId(InitialTradeId)">
                        <option disabled="disabled" [value]="null">Select Trade</option>
                        <option *ngFor="let item of tradeList" [value]="item.id">{{item.name}}</option>
                    </select>
                    <span *ngIf="tradeId.invalid &&tradeId.touched" style="color:#dc3545;">
                        Trade is required.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <label for="levelId" class="control-label col-md-3"> Level</label>
                <div class="col-md-9">
                    <select id="levelId" #levelId="ngModel" name="levelId" [ngModel]="InitialLevelId"
                        class="form-control" required>
                        <option disabled="disabled" [value]="null">Select Level</option>
                        <option *ngFor="let item of levelList" [value]="item.id">{{item.name}}</option>
                    </select>
                    <span *ngIf="levelId.invalid &&levelId.touched" style="color:#dc3545;">
                        Level is required.
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ng-container *ngFor="let language of languageList">

                <label>
                    <input type="checkbox" id="lan" name="lan" [(ngModel)]="language.isChecked" />
                   
                    {{language.name}}
                </label>
                <br>
            </ng-container>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="syllabusName" class="control-label col-md-3">Syllabus Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="syllabusName" name="syllabusName"
                        #syllabusName="ngModel" ngModel placeholder="syllabusName" required>
                    <span *ngIf="syllabusName.invalid &&syllabusName.touched" style="color:#dc3545;">
                        Syllabus Name is invalid.
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label for="syllabusFile" class="control-label col-md-3">syllabus File</label>
                <div class="col-md-9">
                    <app-upload (onUploadFinished)="syllabusUploadFinished($event)"></app-upload>
                    <!-- <input type="file" alife-file-to-base64 multiple 
                    (onFileChanged)="syllabusFileChanged($event)" 
                    [(fileModel)]="syllabusFile" /> -->

                    <!-- <input type="file" (change)="syllabusFileChanged($event)" class="form-control" id="syllabusFile"
                        name="syllabusFile" #syllabusFile="ngModel" ngModel placeholder="syllabusFile" required>
                    <span *ngIf="syllabusFile.invalid &&syllabusFile.touched" style="color:#dc3545;">
                        Syllabus File is invalid.
                    </span> -->
                </div>
            </div>
            <div class="form-group row">
                <label for="testPlaneFile" class="control-label col-md-3"> Test Plane File </label>
                <div class="col-md-9">
                    <app-upload (onUploadFinished)="testPlaneUploadFinished($event)"></app-upload>
                    <!-- <input type="file" alife-file-to-base64 multiple 
                    (onFileChanged)="testPlaneFileChanged($event)" 
                    [(fileModel)]="testPlanfile"
                    /> -->
                    <!--  <input type="file" (change)="testPlaneFileChanged($event)" class="form-control" id="testPlaneFile"
                        name="testPlaneFile" #testPlaneFile="ngModel" ngModel placeholder="testPlaneFile" required>
                    <span *ngIf="testPlaneFile.invalid &&testPlaneFile.touched" style="color:#dc3545;">
                        Test Plane File is invalid.
                    </span> -->
                </div>
            </div>

            <div class="form-group">
                <label for="developmentOfficer" class="control-label col-md-3">Development Officer</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="developmentOfficer" name="developmentOfficer"
                        #developmentOfficer="ngModel" ngModel placeholder="developmentOfficer" required>
                    <span *ngIf="developmentOfficer.invalid &&developmentOfficer.touched" style="color:#dc3545;">
                        Development Officer is invalid.
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label for="manager" class="control-label col-md-3">Manager</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="manager" name="manager" #manager="ngModel" ngModel
                        placeholder="Manager" required>
                    <span *ngIf="manager.invalid &&manager.touched" style="color:#dc3545;">
                        Manager is invalid.
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="activeDate" class="control-label col-md-3">Active Date</label>
                <div class="col-md-9">

                    <input type="text" [bsConfig]="datePickerConfig" placeholder="Datepicker" class="form-control"
                        bsDatepicker id="activeDate" name="activeDate" #activeDate="ngModel" ngModel
                        placeholder="Active Date" required autocomplete="off">
                    <span *ngIf="activeDate.invalid &&activeDate.touched" style="color:#dc3545;">
                        Active Date Officer is invalid.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/crudPageList']">
                Back to list
            </button>
        </div>
        <div class="col-sm-6 pl-0">
            <p class="text-right">
                <button type="submit" class="btn btn-space btn-success"
                    [disabled]="!form.valid">{{editMode?'Update':'Add'}}</button>
                <button type="button" class="btn btn-space btn-secondary" (click)="reset(form)">Cancel</button>
            </p>
        </div>
    </div>
</form>